<div class="all_content">
  
    
    <div class="title">行业信息总览</div>
  
  
  
    <div class="content">
      <div class="detail_msg" *ngFor="let item of arraylist">
        <div class="detail_title">
          <div  class="detail_title_left"><span>msg1</span></div>
          <div  class="detail_title_right"><span>msg2</span></div>
        </div>
        <hr style="height:1px; margin:0px">
        <div class="detail_content">
          <div class="detail_content_left">
            <div id="tagNum">12345</div>
            <span>jia</span>
          </div>
          <div class="detail_content_right">
              <div id="year">2345年</div>
              <div id="thrad"><span></span></div>
              <div id="num">678</div>
          </div>
        </div>
        <span>[季度更新]</span>
      </div>
    </div>
  </div>