.right_bottom{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 20px;
    .title{
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        font-size: 14px;
        font-weight: bold;
    }
    .title::before{
        content:'\260E';
        font-size: 15px;
        margin-right: 5px;
    }
    .content{

    }
}