

.content{
    padding: 28px 30px;
    width: 1843px; //需要在原来的基础上减少60.
    background-color: #C4E8EB;
    display: grid;
    //定义三行三列网格(1096*1024)
    grid-template-rows: 312px 312px 312px;
    grid-template-columns: 450px 900px 450px;
    

    //定义行和行和列和列的间距
    grid-row-gap: 10px;
    grid-column-gap: 10px;

}


//通用部分
ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin: 0px;
    padding-left:  0px;

}
ul li{
    width: 82px;
    height: 48px;
    line-height:48px;
    text-align: center;
    margin: 6px; 
    list-style: none;
    color: #FFFFFF;
}
ul li:hover{
    cursor:pointer;
}

.bigcard{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}
.smallcard{
    background-color: #75E4E4;
}
